<%# ------------------------------------------------------------------------
    Copyright 2007 Applied Research in Patacriticism and the University of Virginia

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
---------------------------------------------------------------------------- %>

<div class="search_left_column ajax-style" style="overflow-y:auto;height:auto;">
  <div class="right_column_header">Browse</div>
  <p>Select a facet below to limit your search results</p>
  <br>
  <%=  create_roles_table([]) %>
  <br>
  <%=  create_pub_place_table([]) %>
  <br>
  <%=  create_subjects_table([]) %>
  <br>
  <%=  create_language_table([]) %>
  <br>
  <%=  create_date_table([]) %>
  <br>
  <%=  create_genre_table([]) %>
</div>
