<h1 class="expander" data-target="email_table">Email</h1>
<table id="email_table" class="hidden">
  <%= setup_table_header("Email settings (SMTP)") %>

  <%= setup_line("Address:", "smtp_address", @setups, "The address of the SMTP server.", "smtp.sendgrid.net") %>
  <%= setup_line("Port:", "smtp_port", @setups, "The port on the SMTP server.", "587") %>
  <%= setup_line("Domain:", "smtp_domain", @setups, "sendgrid.net or [blank]", "sendgrid.net") %>
  <%= setup_line("User Name or Email:", "smtp_user_name", @setups, "The account on the SMTP server.", "institution") %>
  <%= setup_line("Password:", "smtp_password", @setups, "The password to access the SMTP server.", "super-secret") %>
  <%= setup_line("Authentication method:", "smtp_authentication", @setups, "The authentication method for the SMTP server.", "plain") %>
  <%= setup_line("enable_starttls_auto:", "smtp_enable_starttls_auto", @setups, "Set to true for gmail, false for sendgrid.", "false") %>
  <%= setup_line("Category:", "smtp_xsmtpapi", @setups, "The sendgrid category.", "ARC-skin") %>

  <%= setup_table_button("Send Me A Test Email") %>

  <%= setup_table_header("Project Settings") %>

  <%= setup_line("Project manager email:", "project_manager_email", @setups, "The email that is published throughout the site for contacting the project manager.", "manager@institution.edu") %>
  <%= setup_line("Webmaster email:", "webmaster_email", @setups, "The email that is published throughout the site for contacting the webmaster.", "manager@institution.edu") %>

  <%= setup_table_header("Exception Reporting") %>
  <%= setup_line("Exception recipients:", "exception_recipients", @setups, "Comma separated list of email addresses for the people who should be notified if an error occurs.", "john@institution.edu,mary@institution.edu") %>
  <%= setup_line("Sender name:", "sender_name", @setups, "The name that exception errors appear to be from.", "Application Error") %>
  <%= setup_line("Subject prefix:", "subject_prefix", @setups, "The prefix in the subject line that is used on error emails.", "[Collex:Production] ") %>

  <%= setup_table_button("Simulate Error Email") %>
</table>
