<% current_page "admin" -%>
<% current_sub_page "Setup" -%>

<div class="setup_container">
  <p id="notice" class="notice"><%= flash[:notice] %></p>
  <% if flash[:warnings] %>
    <p id="notice" class="notice" style="padding-left:10px">
      <% flash[:warnings].each do |warning| %>
        <%= warning %> <br/>
      <% end %>
    </p>
  <% end %>

  <p>
    The following settings control how this version of Collex will run and what it looks like. You will most likely
    only need to modify these settings once when you first install Collex.
  </p>

  <%= form_tag("/admin/setups/1", :method => "PUT") do %>
    <%= render 'email_section' %>
    <%= render 'skin_section' %>
    <%= render 'solr_section' %>
    <%= render 'analytics_section' %>
    <%= render 'search_button_configuration_section' %>
    <%= render 'match_button_configuration' %>

    <%= submit_tag("Apply Changes", {class: "apply_changes btn"}) %>
  <% end %>
</div>
